<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkAvtivate="active">
                <a routerLink="clients">Clients</a>
            </li>
            <li routerLinkAvtivate="active">
                <a routerLink="clients/new">Nouveau client</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActivate="active">
                <a routerLink="auth/signup">Créer un compte</a>
            </li>
            <li routerLinkActivate="active">
                <a routerLink="auth/signin">Connexion</a>
            </li>
        </ul>
    </div>
</nav>